/* write your override styles here */
#wall .tag-1 {
  display: none;
}

body #wall #tag-2 {
  display: none;
}

#wall #tag-3.slick.wicked {
  display: none;
}

.parent { /*deletes most things on here like 4, 5, 6, 7*/
  display: none;
}
